<h1>Edit Merchant</h1>
<form action="/merchants/<%= @merchant.id %>" method="post">
  <div class="edit-input">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= @merchant.name %>">

    <input type='submit' value="Update"/>
  </div>
</form>
