<!DOCTYPE html>
<html>
<head>
  <title>Benny's Buck$</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
<section class="main">
  <header>Benny's Buck$</header>
  <nav>
    <ul>
      <li><a href="/">Summary</a></li>
      <li><a href="/transactions">Transactions List</a></li>
      <li><a href="/transactions/new">Create New Transaction</a></li>
      <li><a href="/merchants/new">Create New Merchant</a></li>
      <li><a href="/tags/new">Create New Tag</a></li>
    </ul>
  </nav>

  <main>
    <%= yield %>
  </main>

  <footer>&copy Benny 2018</footer>
  </section>
</body>
</html>
