/*
#2c363f - BG color / grey
#ef2d56 - pink / red
#ed7d3a - orange
#8cd867 - light green
#2fbf71 - dark green
*/

body, html {
  font-family: 'Roboto Mono', monospace;
  background-color: #2C363F;
  /* MAKE IT RAIN */
  /* background-image: url("http://www.mytinyphone.com/uploads/users/reddnrowl/508211.gif");
  background-repeat: no-repeat;
  background-size:cover;  */
}

header {
  font-family: 'Bowlby One SC', cursive;
  font-size: 6em;
  text-align: center;
  color: #8cd867;
}

footer {
  margin-top: 2em;
  color: #2fbf71;
  float: right;
  margin-right: 2.5em;
}

button {
  background-color: #8cd867;
  border: 2px solid #2fbf71;
  color: #2c363f;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input-form {
  margin-left: 2.5em;
  color: #8cd867;
}

.btn-create {
  margin-left: 2.5em;
}

.btn-filter {
  margin-right: 1em;
  float: right;
}

.btn-transaction {
  margin-right: 2.5em;
  float: right;
}

.total {
  font-weight: bold;
  font-style:italic;
  font-size: 1.5em;
  color: #ef2d56;
}

.date-filter {
  float:right;
  padding-right: 2.5em;
  margin-top: 0.5em;
  clear: both;
}

.text-input {
  background-color: #8cd867;
  color: #2c363f;
  border: 2px solid #2fbf71;
}

a {
  color: #ed7d3a;
}

nav a {
  color: #ef2d56;
  display: inline-block;
  padding: 1em;
}

nav {
  list-style:none;
  margin:0;
  margin-top: -3em;
  margin-left: -2em;
  margin-bottom: 3em;
  text-align:center;
}

ul {
  list-style: none;
}

nav li {
  display:inline;
}

h1 {
  margin-left: 1.5em;
  color: #ef2d56;
}

h2 {
  margin-left: 1.5em;
  color: #ef2d56;
}

li {
  color: #2fbf71;
  list-style: none;
}

hr {
  border: 0;
  border-bottom: 1px dashed #8cd867;
  background: #999;
  margin-right: 2.5em;
}

.summary-list {
  margin-left: 2em;
}

.edit-input {
  margin-left: 1.5em;
}

.chart div {
  font: 10px sans-serif;
  background-color: #8cd867 ;
  text-align: left;
  padding: 5px;
  margin: 1px;
  color: #2c363f;
}

.edit-input {
  margin-left: 2em;
  color: #8cd867;
}
