<h1>Edit Tag</h1>
<form action="/tags/<%= @tag.id %>" method="post">
  <div class="edit-input">
    <label for="category">Category</label>
    <input type="text" name="category" value="<%= @tag.category %>">

    <input type='submit' value="Update"/>
  </div>
</form>
