<h1>Edit Tag</h1>
<form action="/tags/<%= @tag.id %>" method="post">
  <div class="edit-input">
    <label for="category">Category</label>
    <input type="text" class="text-input" name="category" value="<%= @tag.category %>">
    <br>
    <br>
    <input type='submit' class="text-input" value="Update"/>
  </div>
</form>
