<h1>Create a New Tag</h1>
<form action="/tags" method="post" class="input-form">
  <label for="category">Category</label>
  <input type="text" class="text-input" name="category">

  <input type='submit' class="text-input" value="Create"/>
</form>
