<h1>Transactions List</h1>
<form action="/transactions/new">
  <button>Create a New Transaction</button>
</form>
<ul>
  <%@transaction_list.each { |transaction|%>
    <li> <%= "<b>Date:</b> #{transaction.transaction_date}<br><b>Description:</b> #{transaction.description}<br><b>Amount:</b> £#{transaction.amount}<br><b>Merchant:</b> #{transaction.merchant}<br><b>Tag:</b> #{transaction.tag}" %><br><a href="/transactions/<%=transaction.id%>/edit">Edit</a> | <a href="/transactions/<%=transaction.id%>/delete">Delete</a></li>
    <hr>
  <%}%>
  <div class="total">Total Transactions Amount: £<%= Transaction.total %></div>
  <hr>
</ul>
