<h1>Transactions List</h1>
<form action="/transactions/new">
  <button>Create a New Transaction</button>
</form>
<ul>
  <%@transaction_list.each { |transaction|%>
    <li> <%= "#{transaction.transaction_date}<br>#{transaction.description} - £#{transaction.amount}" %> | <a href="/transactions/<%=transaction.id%>/edit">Edit</a> | <a href="/">Delete</a></li>
  <%}%>
</ul>
